body{
    font-family: 'Raleway', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(97, 6, 77, 0.568)), url('../public/bacground.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }